.create-post {
    display:flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: auto;

    margin-top: 367px;
}

.create-post-div {
    display:flex;
    flex-direction: column;

    width: 1000px;
    height: auto;

    gap: 120px;

    margin-bottom: 200px;
}

.create-post-form-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1000px;
    height: auto;
    
    gap: 14px;
}

.create-post-item-title {
    width: auto;
    height: 43px;

    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.create-post-item-message {
    width: 1000px;
    height: 34px;

    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #363636;
}

.file-upload-zone-upload-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 200px;

    padding: 76px 235px;

    border: 1px solid #000000;

    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

    gap: 20px;
}